body, html {
  height: 100%;
  background-image: url('../imgs/bg_body.jpg');
    background-size: 200px 200px;
    background-repeat: repeat;
}
.center {
  text-align: center;
}
a:hover { text-decoration: none !important; }
.status-box {
  margin: 0 0 20px 0;
  color: #e5e5e5;
}
i:hover::before {
  transform: rotate(-20deg);
}

i:before {
  display: inline-block;
  transition: 0.5s all;
}
.status-open {
  height: 10px;
  width: 10px;
  background-color: #6ef419;
  border-radius: 50%;
  display: inline-block;
}
.status-busy {
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
.no-gutters {
  margin-right: 0;
  margin-left: 0;
  > .col,> [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}
.hero-profile {
  width: 50%;
}
.heroImage {
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.9)), url("../imgs/scene1.jpg");
  height: 95%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.heroContents {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}
#sect-aboutme {
  padding: 100px;
  background-color: #164a8f;
  color: #fff;
  font-size: 1.5em;
  text-orientation: center;
}
.div-skills {
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.9)), url("../imgs/bg_code.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#sect-skills {
  padding: 30px;
  font-size: 1em;
  text-orientation: center;
}
.card {
  padding: 30px;
}
#sect-exp {
  padding: 30px;
  font-size: 1em;
  text-orientation: center;
}
#sect-portfolio {
  background-color: #164a8f;
  padding: 30px;
  font-size: 1em;
  text-orientation: center;
}
#sect-contact {
  padding: 50px 30px 50px 30px;
  font-size: 1em;
  text-orientation: center;
}
.div-contact i {
  padding: 10px;
  box-sizing: border-box;
}
.contact-profile {
  width: 80%;
}
.crop-square {
  height: 200px;
  width: 100%;
  object-fit: cover;
  padding: 5px;
  border-radius: 5%;
}
footer {
  text-align: center;
  background-color: #113B72;
  color: #fff;
}
footer a {
  color: #fff;
  text-decoration: none;
}
footer a:hover {
  color: #999;
  text-decoration: none;
}
.modal-footer {
   justify-content: flex-start;
}
.accent h4 {
  color: #0070c0;
  margin: 0 
}
h1 {
  font-family: Impact;
  font-weight: 700;
}
ul {
  padding-left: 20px 
}
ul.timeline {
  list-style-type: none;
  position: relative;
}
ul.timeline:before {
  content: ' ';
  background: #d4d9df;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
}
ul.timeline > li {
  margin: 20px 0;
  padding-left: 50px;
}
ul.timeline > li:before {
  content: ' ';
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #22c0e8;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 400;
}
.timelinebox {
  background: #164a8f;
  width: fit-content;
  color: #fff;
  padding: 15px;
  border-radius: 10px;
}
.navbar {
  transition: all 0.4s;
}
.navbar .nav-link {
  color: #fff;
}
.navbar .nav-link:hover,.navbar .nav-link:focus {
  background-color:#164a8f;
  color: #fff;
  font-weight: bold;
  transition: 0.2s;
  text-decoration: none;
}
.navbar .navbar-brand {
  color: #FFF;
  font-weight: 900;
}
/* Change navbar styling on scroll */
.navbar.active {
  background: #164a8f;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}
.navbar.active .nav-link {
  color: #FFF;
}
.navbar.active .nav-link:hover,.navbar.active .nav-link:focus {
  color: #FFF;
  text-decoration: none;
}
.navbar.active .navbar-brand {
  color: #FFF;
}
/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
  .navbar {
    background: #164a8f;
  }
  .navbar .navbar-brand, .navbar .nav-link {
    color: #FFF;
  }
}
/*------------------------------------------*/
/*mobile view */
@media only screen and (max-width: 600px) {
  #sect-aboutme {
    padding: 20px;
    background-color: #164a8f;
    color: #fff;
    font-size: 1em;
    text-orientation: center;
  }
  #sect-aboutme h1 { padding-top: 30px; }
  .heroContents {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
  }
  .heroContents h1 { font-size: 40px; }
  .hero-profile { width: 90%; }
  .contact-profile {
    display:block;
    margin:0 auto;
    width: 10%;
  }
  #sect-skills {
    padding: 20px;
    font-size: 1em;
    text-orientation: center;
  }
  .card {
    padding: 20px;
  }
  #sect-exp {
    padding: 10px;
    font-size: 1em;
    text-orientation: center;
  }
  #sect-portfolio {
    background-color: #164a8f;
    padding: 10px;
    font-size: 1em;
    text-orientation: center;
  }
  #sect-contact {
    padding: 50px 20px 50px 20px;
    font-size: 1em;
    text-orientation: center;
  }
  .div-contact i {
    padding: 10px;
    box-sizing: border-box;
  }
}
